<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title> ERROR </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
      <script>
          alert('Login or registration failed');
          window.location.replace("/");
      </script>
  </body>
</html>