<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>USER AUTH</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <h1>User authentication</h1>

    <h2>Register new user</h2>
    <div class="register">
      <form action="/register" method="POST">
        <input type="text" placeholder="username" name="username" />
        <input type="email" placeholder="email" name="email" />
        <input type="password" placeholder="password" name="password" />
        <button type="submit">Register</button>    
      </form>
    </div> 

    <h2>Login to existing user</h2>
    <div class="login">
      <form action="/login" method="POST">
        <input type="text" placeholder="username" name="username" />
        <input type="password" placeholder="password" name="password" />
  
        <button type="submit">Login</button>    
      </form>
    </div>
   
    <ul class="users">
        <% for(var i = 0; i < users.length; i++) {%>
          <li class="message">
            <span><%= users[i].username %></span> |
            <span><%= users[i].email %></span> |
            <span><%= users[i].password %></span>
          </li>
        <% } %>
      </ul>
  </body>
</html>
