@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1{
  font-family: 'Roboto', sans-serif;
  text-decoration: overline;
  color: #8e44ad;
}

h2{
  color: #9b59b6;
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

.register{
  margin-left: 10px;
  margin-bottom: 30px;
}

.login{
  margin-left: 10px;
  margin-bottom: 30px;
}

a{
  font-family: 'Roboto', sans-serif;
  background-color: #9b59b6;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #8e44ad;
}